{% extends '../layout.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
<div class="subnav">
    <a href="/post/new" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>创建内容</a>
</div>
  <ul class="article">
    {% for vo in data %}
      <li>
        <h2><a href="/post/{{ vo._id }}">{{ vo.title }}</a></h2>
          <p>{{vo.content}}</p>
        <p><a href="/post/edit/{{ vo._id }}">修改</a>
            <a href="/post/del/{{ vo._id }}">删除</a>
        </p>
      </li>
    {% endfor %}
  </ul>
        <div class="page page_navi">{{page}}</div>
{% endblock %}