{% extends '../layout.html' %}

{% block title %}博客{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">博客</li>
</ol>


<div class="subnav">
    <a href="/blog/add" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>发布文章</a>
    <a href="/tag/add" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>添加标签</a>
</div>
  <ul class="article">
    {% for vo in data %}
      <li>
        <h2><a href="/blog/{{ vo._id.toString() }}">{{ vo.title }}</a></h2>
          <p>{{F.html.subhtml(vo.content)}}</p>
        <p><a href="/blog/edit/{{ vo._id.toString() }}">修改</a>
            <a href="/blog/del/{{ vo._id.toString() }}">删除</a>
            <span class="date">{{F.date.dgm(vo.updatetime)}}</span>
        </p>
      </li>
    {% endfor %}
  </ul>
        <div class="page page_navi">{{page}}</div>
{% endblock %}