{% extends 'layout.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
  <h1>已经提交的的内容</h1>
  <p>已经提交 <strong>{{ count }}</strong> !</p>
  <p><a href="/post/new">创建内容</a></p>
  <ul id="posts">
    {% for vo in data %}
      <li>
        <h2>{{ vo.title }}</h2>
          <p>{{vo.content}}</p>
        <p><a href="/post/edit/{{ vo._id }}">修改</a>
            <a href="/post/{{ vo._id }}">更多</a></p>
      </li>
    {% endfor %}
  </ul>
        <div class="page">{{page}}</div>
{% endblock %}