{% extends '../layout.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">{{post.title}}</li>
</ol>


        <div class="article_content">
  <h1>{{ post.title }}</h1>
        <div class="opt">
            发布时间:{{post.updatetime}} /
            热度:{{post.view}} /
            关键字:
            {% for tag in post.tags %}
            <a class="label label-primary" href="/blog/category/{{tag}}">{{tag}}</a>
            {% endfor %} /
            <a href="/blog/edit/{{ post._id.toString() }}">修改</a>
            <a href="/blog/del/{{ post._id.toString() }}">删除</a>
        </div>
  <div class="entity">
{{ F.xss(post.content) }}
  </div>

{% endblock %}</div>