{% extends '../layout.html' %}

{% block title %}添加标签{% endblock %}
{% block content %}

<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/tag">标签</a></li>
    <li class="active">添加</li>
</ol>


<h1>添加标签</h1>
<div class="form">
    <form action="/tag/insert" method="post">
        <p><input type="text" placeholder="名称" class="form-control" name="name" value="{{post.name}}"></p>
        <p><input type="text" placeholder="关键字" class="form-control" name="key" value="{{post.key}}"></p>
        <p><input type="submit" class="btn btn-primary" value="添加"></p>
    </form>
</div>
{% endblock %}